## Membaca data

In [5]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('vgsalesGlobale.csv')
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## Penjelasan data yang digunakan

Data yang kita gunakan merupakan data penjualan game secara global\
format data kita adalah **csv** atau dengan nama lain "comma seperated values"\
ukuran file kita adalah 1.29 MB
dimensi dan total elemen dari data kita adalah sebagai berikut :

In [7]:
data.shape 
    # menampilkan dimensi dari data
    # (baris,kolom)

(16598, 11)

In [8]:
data.size
    # menampilkan total elemen data

182578

## Penjelasan atribut/kolom

Data kita mengandung kolom-kolom sebagai berikut

In [9]:
data.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

Data type dari setiap kolom adalah sebagai berikut

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

Tipe data yang terdapat pada tiap kolom bersifat sebagai berikut :
- Rank : Categorical - Ordinal
- Name, Platform, Genre, Publisher : Categorical - Nominal
- Year : Quantitative - Continues
- NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales : Quantitative - Discrete

Karakteristik - karakteristik yang terdapat pada kolom adalah sebagai berikut :
- Rank : terdiri dari angka yang 1 hingga 16600 dengan 1 adalah game dengan Global_Sales terbanyak dan angka terbesar adalah game dengan Global_Sales paling sedikit
- Name : Terdiri dari nama - nama game
- Platform : sistem yang digunakan untuk menjalankan game, data pada kolom ini terdiri dari:

In [11]:
data["Platform"].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

- Year : Tahun rilis game, rentang tahunnya adalah:

In [12]:
maxy = data["Year"].max()
miny = data["Year"].min()
print (str(int(miny)),end= " - ")
print(str(int(maxy)))

1980 - 2020

- Genre: Genre dari tiap game , kolom ini terdiri dari:

In [13]:
data["Genre"].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

- Publisher : Perusahaan yang menerbitkan game tersebut, kolom ini terdiri dari :

In [24]:
len(data["Publisher"].unique())

579

- NA_Sales : penjualan suatu video game di region North America, rangenya adalah :

In [ ]:
maxna = data["NA_Sales"].max()
minna = data["NA_Sales"].min()
print (str(minna),end= " - ")
print(str(maxna),end = " ")
print("(dalam juta copy)")

0.0 - 41.49 (dalam juta copy)

- EU_Sales : penjualan suatu video game di region European Union, rangenya adalah :

In [ ]:
maxeu = data["EU_Sales"].max()
mineu = data["EU_Sales"].min()
print (str(mineu),end= " - ")
print(str(maxeu),end = " ")
print("(dalam juta copy)")

0.0 - 29.02 (dalam juta copy)

- JP_Sales : penjualan suatu video game di region Jepang, rangenya adalah :

In [ ]:
maxjp = data["JP_Sales"].max()
minjp = data["JP_Sales"].min()
print (str(minjp),end= " - ")
print(str(maxjp),end = " ")
print("(dalam juta copy)")

0.0 - 10.22 (dalam juta copy)

- Other_Sales: penjualan yang tidak berada di region North America , European Unio, maupun Jepang. Rangenya adalah :

In [ ]:
maxot = data["Other_Sales"].max()
minot = data["Other_Sales"].min()
print (str(minot),end= " - ")
print(str(maxot),end = " ")
print("(dalam juta copy)")

0.0 - 10.57 (dalam juta copy)

- Global_Sales  penjualan total secara keseluruhan, kolom rank juga mengacu pada kolom ini. Rangenya adalah:

In [ ]:
maxgl = data["Global_Sales"].max()
mingl = data["Global_Sales"].min()
print (str(mingl),end= " - ")
print(str(maxgl),end = " ")
print("(dalam juta copy)")

0.01 - 82.74 (dalam juta copy)

## Presentase data kosong

In [ ]:
# Untuk mempermudah data cleaning, kita mengubah semua nilai 0 menjadi NA
data.replace(0,np.nan,inplace=True)

In [ ]:
x = (data.isna().sum().sum()/data.size)*100
print("{:.2f}%".format(x))

15.06%

## Data cleaning and Data Sample

### Mengecek null data

In [ ]:
data.isna().sum()
    # mengecek kolom yang mengandung data null
    # kolom yang mengandung data null dalam data kita adalah kulom Year, Publisher, NA_Salse, EU_Sales, JP_Sales, Other_Sales

Rank                0
Name                0
Platform            0
Year              271
Genre               0
Publisher          58
NA_Sales         4499
EU_Sales         5730
JP_Sales        10455
Other_Sales      6477
Global_Sales        0
dtype: int64

Dalam data kita, kolom yang tidak boleh null adalah kolom Rank, Name, Platform, Year, Genre, Publisher

Baris-baris yang mengandung null value pada kolom tersebut akan dibuang

In [ ]:
#data.dropna(subset=['Rank','Name','Platform','Year','Genre',"Publisher"],inplace=True)
    # Menghapus baris yang mengandung null value pada kolom-kolom dalam list subset
data.dropna(subset=['Rank','Name','Platform','Year','Genre'],inplace=True)

Baris-baris yang memiliki null data pada kolom sales dapat berarti pada daerah tersebut game yang mengandung null value tidak di jual\
Tetapi, baris yang mengandung null value pada seluruh kolom sales perlu dibuang

In [ ]:
data.dropna(subset=["NA_Sales","EU_Sales","JP_Sales","Other_Sales","Global_Sales"],how='all',inplace=True)

Untuk mempermudah analisis data, kita jadikan kolom "Rank" sebagai index data

In [ ]:
data.set_index('Rank',inplace=True)

Data null hanya tersisah pada kolom-kolom sales saja, maka kita ganti null value tersebut dengan angka 0 (tidak dijual pada daerah tersebut)

In [ ]:
data.fillna(0,inplace=True)

### Mencari data duplikat

Ketahui bahwa data duplikat yang logis terjadi pada kolom "Name"

In [ ]:
data.duplicated(subset=['Name'],keep=False).sum()
    # terdapat 7682 baris yang memiliki nama game yang sama dengan baris yang lain

7682

In [ ]:
data.loc[data.duplicated(subset=['Name'],keep=False)]
    # menampilkan baris-baris dengan nama duplikat

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
...,...,...,...,...,...,...,...,...,...,...
16589,Secret Files 2: Puritas Cordis,DS,2009.0,Adventure,Deep Silver,0.00,0.01,0.00,0.00,0.01
16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

Mengapa hal tersebut terjadi ? mari kita ambil satu contoh

In [ ]:
data.loc[data['Name'] == "Super Mario Bros."]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
201,Super Mario Bros.,GB,1999.0,Platform,Nintendo,3.40,1.30,0.15,0.22,5.07

Dapat di lihat dengan contoh di atas bahwa walaupun kedua baris sama, tetapi masing-masing memiliki Platform berbeda\
Hal ini berlaku untuk semua data dengan nama duplikat di atas

Dalam percobaan kali ini, data dengan duplikat-duplikat tersebut akan dianggap sebagai data unique sehingga tidak akan di buang

Mengubah data type tahun menjadi integer (tahun tidak mungkin float)

In [ ]:
data['Year'] = data['Year'].astype(int)

## Mengambil sample 300 baris pertama pada data yang sudah dibersihkan

In [ ]:
sample = data.iloc[0:300].copy()

In [ ]:
sample

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
297,Star Fox 64,N64,1997,Shooter,Nintendo,2.78,0.58,0.64,0.04,4.03
298,Minecraft,PS4,2014,Misc,Sony Computer Entertainment Europe,1.38,1.87,0.12,0.65,4.02
299,Golf,NES,1984,Sports,Nintendo,1.22,0.28,2.46,0.04,4.01
300,Fallout 3,PS3,2008,Role-Playing,Bethesda Softworks,2.15,1.20,0.07,0.59,4.01
301,Professor Layton and the Diabolical Box,DS,2007,Puzzle,Nintendo,0.92,1.78,0.92,0.37,4.00

# Statistik pada sample

In [ ]:
sample[['NA_Sales','EU_Sales',"JP_Sales","Global_Sales"]].describe(percentiles = [.1,.25,.50,.75,.90])

         NA_Sales    EU_Sales    JP_Sales  Global_Sales
count  300.000000  300.000000  300.000000    300.000000
mean     3.997000    2.476367    1.090767      8.339233
std      4.094026    2.472043    1.539014      7.284455
min      0.000000    0.000000    0.000000      4.000000
10%      1.372000    0.630000    0.010000      4.200000
25%      2.147500    1.240000    0.067500      4.680000
50%      2.965000    1.930000    0.305000      5.835000
75%      4.257500    2.835000    1.572500      8.885000
90%      6.992000    4.511000    3.280000     14.652000
max     41.490000   29.020000   10.220000     82.740000